@import '../../colors.scss';
@import '../inbox.component.scss';

.container-fluid {
    margin-top: 8px;
    margin-bottom: 32px;
}

input {
    background-color: $input;
    border: 1px solid $input;
    border-radius: 4px;
    margin-left: 26px;
    padding-left: $component-pad;
    position: absolute;
    width: 85%;
}

.fa {
    color: $button-blue;
}

.fa-search {
    margin-left: 32px;
    margin-top: 6px;
    position: relative;
    z-index: 2;
}

.nav-i {
    line-height: 28px;
}

#icons {
    display: flex;
    justify-content: space-around;
    min-width: 100px;
}