@import "../colors.scss";

$btn-height: 32px;
$breakpoint-tablet: 768px;
$img-height: 84px;
$nav-pad: 36px;
$option-size: 18pt;

p {
    padding-left: 1%;
}

#side-container {
    background-color: lightgray;
    border-bottom: none;
    border-top: none;
    // Height takes up full screen on tablets and larger devices
    @media (min-width: $breakpoint-tablet) {
        height: 100vh;
        padding-bottom: 0;
    }
    min-width: 180px;
    padding-bottom: $nav-pad;
    padding-top: $nav-pad;
    padding-right: 0;
}

.fa {
    color: $button-blue;
    height: $option-size;
    // width: $option-size;
    padding-top: 8px;
}

.info {
    display: flex;
    justify-content: center;
}

.justify-content-right {
    text-align: right;
}

.options {
    font-size: $option-size;
    justify-content: left;
    width: 110px;
}

#account {
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 2px;
    box-shadow: 2px 4px #888;
    flex-direction: column;
    width: 200px;
    min-width: 200px;
    padding: 12px;
    position: absolute;
    left: $img-height + 8px;
    top: -16px;
    z-index: 3;
}

#acct-anchor {
    position: relative;
}

#address {
    font-style: italic;
}

#btn-img {
    background: none;
    border: none;
}

#btn-login {
    min-width: 70px;
}

#btn-signup {
    min-width: 80px;
}

#compose {
    background-color: $button-blue;
    border: none;
    border-radius: $btn-height;
    margin-top: 16px;
    margin-bottom: 16px;
    min-width: 100px;
    height: $btn-height;
}

#img-spot {
    height: $img-height;
    margin-bottom: 8px;
    padding: 0;
}

#opt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
    width: 50%;
}

#u-icon {
    width: 84px;
    height: 84px;
    border: 2px solid gray;
    border-radius: 50%;
}

#u-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 24px;
}

#user {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 0;
    width: 100%;
}