@import "../colors.scss";

$btn-height: 32px;
$option-size: 18pt;

p {
    padding-left: 1%;
}

.container-fluid {
    background-color: lightgray;
    // border: 1px solid gray;
    border-bottom: none;
    border-top: none;
    height: 100vh;
    min-width: 160px;
    padding-top: 36px;
}

.col {
    display: flex;
    justify-content: center;
}

.fa {
    color: $button-blue;
    height: $option-size;
    width: $option-size;
    padding-top: 8px;
}

.options {
    font-size: $option-size;
    justify-content: left;
    padding-left: 30%;
}

#address {
    font-style: italic;
}

#button {
    background-color: $button-blue;
    border: none;
    border-radius: $btn-height;
    color: white;
    line-height: $btn-height;
    margin-top: 16px;
    margin-bottom: 16px;
    min-width: 100px;
    text-align: center;
    height: $btn-height;
    width: 50%;
}

#img-spot {
    height: 84px;
    margin-bottom: 8px;
    padding: 0;
}

#u-icon {
    width: 84px;
    height: 84px;
    border: 2px solid gray;
    border-radius: 50%;
}

#u-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 24px;
}

#user {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}