<div class="container-fluid">
    <div class="row" id="user">
        <div class="col" id="img-spot"><img src="../../assets/c9.png" id="u-icon"></div>
        <div class="col">Jacob Hilliker</div>
        <div class="col" id="address">jhillike@asu.edu</div>
        <div class="col"><div id="button">compose</div></div>
        <div class="col options"><i class="fa fa-caret-down"></i><p>Inbox</p></div>
        <div class="col options"><i class="fa fa-caret-right"></i><p>Drafts</p></div>
        <div class="col options"><i class="fa fa-caret-right"></i><p>Sent</p></div>
        <div class="col options"><i class="fa fa-warning"></i><p>Spam</p></div>
        <div class="col options"><i class="fa fa-trash"></i><p>Trash</p></div>
    </div>
</div>