<div class="container-fluid" id="side-container">
    <div class="row" id="user">
        <div class="col info" id="img-spot">
            <div id="acct-anchor">
                <img src="../../assets/c9.png" id="u-icon" (click)="toggleAccountVis();">
                <!--Account Options-->
                <div class="col info" id="account" [style.visibility]="accountVis">
                     <div class="col info">
                        <p style="padding: 0">Account Options</p>
                    </div>
                    <div class="col info">
                        <a routerLink="/login"><button class="btn btn-secondary" id="btn-login" (click)="logout()">Log Out</button></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col info">Jacob Hilliker</div>
        <div class="col info" id="address">jhillike@asu.edu</div>
        <div class="col info"><a routerLink="/compose"><button class="btn btn-primary" id="compose">compose</button></a></div>

        <!--Options-->
        <div class="col" id="opt-wrapper">
            <div class="row options" routerLink="/"><i class="fa fa-caret-down fa-fw"></i><p>Inbox</p></div>
            <div class="row options" routerLink="/drafts"><i class="fa fa-caret-right fa-fw"></i><p>Drafts</p></div>
            <div class="row options" routerLink="/sent"><i class="fa fa-caret-right fa-fw"></i><p>Sent</p></div>
            <div class="row options" routerLink="/spam"><i class="fa fa-warning fa-fw"></i><p>Spam</p></div>
            <div class="row options" routerLink="/trash"><i class="fa fa-trash fa-fw"></i><p>Trash</p></div>
        </div>
        
    </div>
</div>