div {
    padding: 0;
}

app-nav {
    width: 100%;
}

#inbox {
    background-color: white;
    border-radius: 2px;
    height: 100vh;
    padding: 8px;
    padding-left: 32px;
    padding-top: 32px;
    width: 96%;
}