<div class="container" id="msg-container">
    <div class="col-12 justify-content-center" id="msg-col">
      <form [formGroup]="msgForm" (ngSubmit)="send();">
  
        <div class="row" id="header">
          
          <div class="col" id="new-msg">New Message</div>
  
          <div class="col" id="window-icons">
            <button type="button" class="i-btn head-btn"><i class="fa fa-window-minimize head-item"></i></button>
            <button type="button" class="i-btn head-btn"><i class="fa fa-window-maximize head-item"></i></button>
            <a routerLink="/"><button type="button" class="i-btn head-btn"><i class="fa fa-window-close head-item"></i></button></a>
          </div>
          
        </div>
  
        <div class="row">
          <input type="text" class="msg-input" placeholder="Subject" formControlName="msgSubject">
        </div>
        
        <div class="row">
          <input type="text" class="msg-input" placeholder="To" formControlName="msgTo">
        </div>
  
        <div class="row">
          <input type="text" class="msg-input" placeholder="CC" formControlName="CC">
        </div>
  
        <div class="row">
          <input type="text" class="msg-input" placeholder="BCC" formControlName="BCC">
        </div>
  
        <div class="row">
          <textarea class="msg-input" id="msg-body" placeholder="enter message here" formControlName="msgBody"></textarea>
        </div>
  
        <div class="row" id="footer">
          <a routerLink="/"><button class="btn btn-primary foot-item" type="submit" id="btn-send">Send</button></a>
          <button class="i-btn foot-item" type="button"><i class="fa fa-link"></i></button>
        </div>
  
      </form>
    </div>
  </div>